body {
  font-family: Arial, Helvetica, sans-serif;
  /*background-color: darkblue;
  color: #f1f1f1;*/
}

* {
  box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */

.open-button {
  border-radius: 50px 50px 0;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 190px;
  background-color: #035AA6;
  color: white;
  font-size: 13px;
  outline: none !important;
}

/* The popup chat - hidden by default */

.chat-popup {
  display: none;
  position: fixed;
  bottom: 23px;
  right: 15px;
  z-index: 9;
}

/* Add styles to the form container */

.form-container {
  width: 400px;
  /*padding: 10px;*/
  background-color: white;
  border-radius: 20px 20px 0px 20px;
  border-style: solid;
  border-color: whitesmoke;
}

/* Full-width textarea */

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#closeForm {
  background-image: url(../images/close.png);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  box-shadow: none;
}

iframe {
  width: 100%;
  height: 550px;
  box-sizing: border-box;
  border-radius: 1rem;
}

iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}

/* Hide scrollbar for Chrome, Safari and Opera */

iframe::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */

iframe {
  -ms-overflow-style: none;
}

@media only screen and (max-width: 550px) {
  iframe {
    height: 85vh;
    left: 0;
  }
  .form-container {
    width: auto;
  }
  .chat-popup {
    right: 0;
    left: 0;
  }
}